@import 'variables';

#logo-css {
  display: inline-block;

  @media all and (min-width: 600px){
    width: 600px;
    transform:rotate(21deg);
  }

  @media all and (max-width: 599px){
    width: 100%;
  }

  text-align: center;

  .logo-box {



    background-color: @logo-background;
    .logo-line {

      margin-top: 10px;
      margin-bottom: 10px;
      padding-bottom: 20px;

      border-top: 5px white solid;
      border-bottom: 5px white solid;
    }
  }
}
#rotate-2 {
  margin-top: 50px;
  transform:rotate(180deg);
}